.barra-busca-topo {

    position: sticky;
    top: 31px;
    z-index: 999;
    background-color: #ffffff;

    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    box-sizing: border-box;
    
    border-left: solid 5px #000080;
    border-right: solid 5px #000080;
    border-bottom: solid 1px #000080;
    padding: 10px;
}

.container-busca-input {
    position: relative;
    width: 100%;
    /*max-width: 600px;*/
}

.input-busca-topo {
    width: 100%;
    padding: 10px 16px;
    font-size: 15px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    box-sizing: border-box;
}

.input-busca-topo:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}
